*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:antiquewhite;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:none;
    border-radius: 17px;
    width: 500px;
    height: 250px;
    background-color:#F9F6EE;
    box-shadow: 10px 10px 10px  10px rgba(0, 0, 0, 0.1);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
#status{
        padding: 20px 20px;
        border-radius: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        height: 70px;
        width: 300px;
        font-size: 22px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
}

